html {
    font-size: 62.5%
}
body {
    font-family: Arial;
    font-size: 1.2em;
}

html,body {
    height: 100%;
}

.app-container {
    display: flex;
    height: 100%;
    flex-flow: column nowrap;
}

.lesson-container {
    position: relative;
    flex-grow: 2;
}

#lesson {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
